<!DOCTYPE html>
<html>
<head>
    <title>登录</title>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8"/>
    <link href="/ref/img/favicon.png" rel="shortcut icon" >
    <script src="/ref/js/jquery-3.3.1.js"></script>
    <link href="/ref/css/pro.css" rel="stylesheet"  />
</head>

<body bgcolor="#efefef">

<div align="center" style="padding-top: 125px">
    <div id="login">
        <div>
            <p style="font-size: 28px">spring mvc + spring + mybatis 管理系统</p>
        </div>
        <div>
            <div style="padding: 5px">
                <label class="label" style="width: 7%">用户名</label>
                <input class="text" required style="width: 45%" type="text" id="usr" placeholder="用户名">
            </div>

            <div style="padding: 5px">
                <label class="label" style="width: 7%;">密码</label>
                <input class="text" required style="width: 45%" type="password" id="psd" placeholder="密码">
            </div>

            <div style="padding: 15px">
                <p>
                    <button class="button blue" style="width: 20%;margin-right: 30px" onclick="login()">登 录</button>
                    <a href="./login.html">忘记密码</a>
                </p>
            </div>

        </div>
    </div>
    <a>© 2019</a><a href="/view/login.html" target="_self">spring</a>
    <div id="form"></div>
</div>

<script>

    function login() {
        var url = '/_login';
        var $usr = $('<input>').attr({name: "userName", value: $("#usr").val()});
        var $psd= $('<input>').attr({name: "password", value: $("#psd").val()});
        //   var $inputSubmitBtn=$('<input>').attr({type:"submit",value:"submit"});
        var $form = $("<form>");
        $form.attr({
            target: '_self',
            method: 'post',
            action: url
        }).append($usr);
        $form.append($psd);
        $form.id='smbForm';
        /*//先将form保存到document再提交
        $(document.body).append($form);*/
        $("#form").empty().append($form);
        $($form).submit();
        $("#form").empty();
    }
</script>

</body>
</html>